.staking-heading {
    width: 100%;
    max-width: 462px;
    margin: 0 auto;
    text-align: center;
}
.staking-content {
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
    flex-flow: wrap;
}
.staking-box {
    margin: 50px 27px 0;
    position: relative;
    flex: 0 0 30%;
}
.staking.frame-img {
    position: absolute;
    top: 43px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}
.staking.frame-img img {
    margin: 0 auto;
}
.staking.frame-img h3 {
    font-weight: 900;
    font-size: 60px;
    line-height: 61px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 10px 0 2px;
    position: relative;
}
.staking.frame-img h3 span {
    color: #F213FF;
    width: 20px;
    height: 16px;
    display: inline-block;
    position: absolute;
}
.staking.frame-img p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.staking-box:hover:after {
    position: absolute;
    content: "";
    width: 75.57px;
    height: 75.57px;
    background: #0BEFD8;
    filter: blur(35px);
    bottom: 0;
    left: 0;
}
.staking-box {
    margin: 50px 27px 0;
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.04) 100%);
    backdrop-filter: blur(17px);
    border-radius: 54px;
    overflow: hidden;
    cursor: pointer;
    transition: all .4s;
}

.staking-box:hover:before {
    position: absolute;
    content: "";
    width: 80.54px;
    height: 80.54px;
    background: #F213FF;
    filter: blur(35px);
    top: 0;
    right: 0;
    z-index: -1;
}
.stakin-circul {
    position: absolute;
    right: 0;
    z-index: -1;
    bottom: -66px;
}
.stalking-heading p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 27px;
}

@media(max-width: 1600px){
    .staking-box {
        border-radius: 45px;
    }
}
@media(max-width: 1500px){
    .staking.frame-img h3 {
        font-size: 40px;
        line-height: 41px;
    }
    .staking-box {
        border-radius: 40px;
    }
}

@media(max-width: 1400px){
    .staking.frame-img {
        top: 25px;
    }
    .staking.frame-img h3 {
        font-size: 34px;
        line-height: 34px;
    }
}

@media(max-width: 1200px){
    .staking-box {
        flex: 0 0 44%;
    }
    .staking.frame-img {
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media(max-width: 991px){
    .staking-box {
        margin: 28px 14px 0;
    }
    .staking.frame-img img {
        width: 40px;
    }
    .staking.frame-img h3 {
        font-size: 30px;
        line-height: 30px;
    }
    .staking.frame-img p {
        font-size: 16px;
        line-height: 24px;
    }
    .stakin-circul img {
        width: 200px;
    }
    .staking-box {
        border-radius: 35px;
    }
}

@media(max-width: 767px){
    .stakin-circul img {
        width:150px;
    }
    .staking-box {
        border-radius: 30px;
    }
}

@media(max-width: 576px){
    .staking-box {
        flex: 0 0 100%;
    }
    .staking-box {
        margin: 28px 0px 0;
    }
    .staking-box img {
        width: 100%;
    }
    .staking.frame-img img {
        width: 50px;
    }
}