.staking-heading {
    width: 100%;
    max-width: 462px;
    margin: 0 auto;
    text-align: center;
}
.staking-content {
    display: flex;
    justify-content: center;
}
.staking-box {
    margin: 50px 27px 0;
    position: relative;
}
.staking.frame-img {
    position: absolute;
    top: 43px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.staking.frame-img img {
    margin: 0 auto;
}
.staking.frame-img h3 {
    font-weight: 900;
    font-size: 60px;
    line-height: 61px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 10px 0 2px;
    position: relative;
}
.staking.frame-img h3 span {
    color: #F213FF;
    width: 20px;
    height: 16px;
    display: inline-block;
    position: absolute;
}
.staking.frame-img p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.staking-box.staking-box-bg:after {
    position: absolute;
    content: "";
    width: 75.57px;
    height: 75.57px;
    background: #0BEFD8;
    filter: blur(35px);
    bottom: 0;
    left: 0;
}
.staking-box {
    margin: 50px 27px 0;
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.04) 100%);
    backdrop-filter: blur(17px);
    border-radius: 54px;
    overflow: hidden;
}
.staking-box.staking-box-bg:before {
    position: absolute;
    content: "";
    width: 80.54px;
    height: 80.54px;
    background: #F213FF;
    filter: blur(35px);
    top: 0;
    right: 0;
    z-index: -1;
}
.stakin-circul {
    position: absolute;
    right: 0;
    z-index: -1;
    bottom: -66px;
}