.team{
    position: relative;
}
.team-inner-heading {
    width: 100%;
    max-width: 620px;
    text-align: center;
    margin: 0 auto 0;
}
.team-box {
    position: relative;
}
.team-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 18px;
}
.team-content img {
    border-radius: 54px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-height: 350px;
    max-width: 350px;
}
.team-box {
    position: relative;
    text-align: center;
    margin-top: 54px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.04) 100%);
    backdrop-filter: blur(17px);
    border-radius: 54px;
}
.team-box img {
    width: 100%;
}
.team-content h4 {
    font-weight: 600;
    font-size: 30px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    margin: 34px 0 6px;
}
.team-content p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
    margin: 0 !important;
}
.team-outer .row .col-md-3 {
    padding: 0px 20px;
}
.team-outer {
    position: relative;
}
.team-round-circul {
    position: absolute;
    top: -110px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.team-round-img {
    position: absolute;
    top: 30%;
    left: 0;
    z-index: -1;
}