.about {
    position: relative;
}
.about-inner-box {
    width: 100%;
    max-width: 1104px;
}
.about-inner {
    position: relative;
}
.about-main-img {
    position: absolute;
    top: 0;
    right: 0;
}
.about-half-round {
    position: absolute;
    top: 50%;
    right: 0;
    left: auto;
    transform: translateY(-50%);
}
.about-full-round-img {
    position: absolute;
    z-index: -1;
    bottom: -350px;
    left: 0;
}