body.white-theme{
    background-color: #FFFFFF !important;
}
.white-theme header {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
.white-theme a.nav-link {
    color: #0E0D17;
}
.white-theme .banner .sub-heading {
    color: #0B0A11;
}
.white-theme p {
    color: #0B0A11;
}
.white-theme .comman-btn {
    color: #0B0A11;
}
.white-theme .copy-addres {
    background-image: linear-gradient(to left,#fff, #fff), linear-gradient(184deg,#F213FF, rgb(187, 187, 187) , #0BEFD8);
}
.white-theme .metapets-games .metapets-games-icon a svg stop {
    stop-color: #0E0D17;
    transition: all .4s;
    stop-opacity: 0.9;
}
.white-theme a:hover svg stop {
    stop-color: #AD49FC !important;
}
.white-theme .white-bg {
    display: block;
    position: absolute;
    top: -80px;
    left: 0;
    z-index: -3;
    filter: blur(124px);
}