
body.white-theme{
    background-color: #FFFFFF !important;
}
body.white-theme.home-bg{
    background-image: url(../../../public/assets/images/home-backgroun-white.gif) !important;
}
.white-theme header {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
.white-theme a.nav-link {
    color: #0E0D17;
}
.white-theme .banner .sub-heading {
    color: #0B0A11;
}
.white-theme p {
    color: #0B0A11;
}
.white-theme .comman-btn {
    color: #0B0A11;
}
.white-theme .copy-addres {
    background-image: linear-gradient(to left,#f2f4fc, #f6f6fd), linear-gradient(184deg,#F213FF, rgb(187, 187, 187) , #0BEFD8);
}
.white-theme .metapets-games .metapets-games-icon a svg stop {
    stop-color: #0E0D17;
    transition: all .4s;
    stop-opacity: 0.9;
}
.white-theme a:hover svg stop {
    stop-color: #AD49FC !important;
}
.white-theme .white-bg {
    display: block;
    position: absolute;
    top: -80px;
    left: 0;
    z-index: -3;
    filter: blur(41px);
}
.white-theme .logo-white, .white-theme .cat-white, .white-theme .metapets-games-left-img-white{
    display: block;
}
.white-theme .logo-black, .white-theme .flag-bg, .white-theme .cat-black, .white-theme .metapets-games-left-img-black, .white-theme .metapats-bg{
    display: none;
}
.white-theme .flag-bg-white{
    display: block;
}
.white-theme .menu-left .dropdown-toggle::after {
    color: #000000;
}
.white-theme .sub-heading {
    color: #0B0A11;
}
.white-theme .custom-pets-line, .white-theme section.custom-pets:before {
    display: none;
}
.white-theme .numquam-eius-left p, .white-theme .parner-text p, .white-theme .home-about-left p, .white-theme .home-team-heading p{
    color: #0B0A11;
}

.white-theme .about-inner-box ul li {
    color: #0B0A11;
    opacity: 0.5;
}
.white-theme .about-inner-box h5 {
    color: #0B0A11;
}

.white-theme .road-text-box-content {
    background-image: linear-gradient(to left,#fcfcfc , #fcfcfc), linear-gradient(145deg,#F213FF, rgb(248, 248, 248) , #0BEFD8);
    opacity: 0.7;
}
.white-theme .road-test-icon-white, .white-theme .custom-pets-main-img-white{
    display: block;
}
.white-theme .road-test-icon-black, .white-theme .custom-pets-main-img-black{
    display: none;
}
.white-theme .road-test-box h4, .white-theme .road-test-box p, .white-theme .custom-pets-inner-box p {
    color: #0B0A11;
}
.white-theme .roadmap .owl-item:not(.active) + .owl-item.active + .owl-item.active .road-text-box-content:before {
    width: 70px;
    height: 50px;
    filter: blur(100px);
}
.white-theme .roadmap .owl-item:not(.active) + .owl-item.active + .owl-item.active .road-text-box-content:after {
    width: 70px;
    height: 70px;
    filter: blur(80px);
}
.white-theme .home-team .team-content h4, .white-theme .footer-box p, .white-theme ul.footer-link li a, .white-theme .copy-right p, .white-theme .roadmap-text-box p{
    color: #0B0A11;
}
.white-theme .home-team .team-content p {
    color: #848388;
}
.white-theme footer {
    background-color: #FCFCFC;
}
.white-theme h4.footer-heading {
    color: #0C0A12;
}
.white-theme .footer-form {
    background-image: linear-gradient(to left,#FCFCFC, #FCFCFC), linear-gradient(184deg,#F213FF, rgb(201, 201, 201) , #0BEFD8);
}
.white-theme .footer-form input::placeholder{
    color: #0C0A12;
}
.white-theme .copy-right {
    background-color: #FCFCFC;
}
.white-theme .copy-right p{
    color: #838386;
}
.white-theme .patner-box-black, .white-theme .menu-logo-black{
    display: none;
}
.white-theme .patner-box-white, .white-theme .menu-logo-white{
    display: block;
}
.white-theme .menu__bar{
    background-color: #000;
}
img.menu-logo.menu-logo-white {
    width: 132px;
}
.white-theme .banner-img {
    position: absolute;
    top: 0;
    right: -23px;
}
.white-theme .metapets-games-icon-footer a path {
    fill: #89898f;
}
.white-theme .metapets-games-icon-footer a:hover path {
    fill: #05058D;
}
.white-theme .ecosystem-img {
    background-image: linear-gradient(to left,#fff, #fff), linear-gradient(145deg,#F213FF, rgb(241, 241, 241) , #0BEFD8);
}
.white-theme .team-white-box{
    display: block;
}
.white-theme .team-black-box{
    display: none;
}
.white-theme .tean-box .team-content h4 {
    color: #FFFFFF;
}
.white-theme .whitepaper.content-box button, .white-theme .road-test-box li{
    color: #000000;
}
.white-theme .white-pdf-icon{
    display: block;
}
.white-theme .black-pdf-icon{
    display: none;
}
.white-theme .token-box-white{
    display: block;
}
.white-theme .token-box-black{
    display: none;
}
.white-theme .token-box-img {
    z-index: -1;
}
.white-theme .staking-white{
    display: block;
}
.white-theme .staking-black{
    display: none;
}
.white-theme .staking-box:hover:before {
    z-index: 0;
}
.white-theme .banner-inner ul li svg path {
    fill: #262436;
}
.white-theme .banner-inner ul li svg path {
    stroke: #000;
}
.white-theme li.banner-icon-3 svg path {
    fill: transparent !important;
}
.white-theme .modal-content {
    background-color: #fff !important;
    border-radius: 24px !important;
    border: 0 !important;
}
/* .white-theme .home-background-white{
    display: block;
}
.white-theme .home-background-black{
    display: block;
} */


@media(max-width: 1200px){
    .white-theme div#navbarSupportedContent {
        background-color: #fff;
    }
    .white-theme span.navbar-toggler-icon svg path {
        fill: black;
    }
    .white-theme a.nav-link {
        border-bottom: 1px solid rgb(57 57 57 / 22%);
    }
}
@media(max-width: 991px){
    .white-theme img.cat-white{
        display: none;
    }
}