/*-----comman-----*/
.container {
    width: 100% !important;
    max-width: 1705px !important;
    margin: 0 auto;
    padding: 0 15px;
}
.heading {
    font-weight: 600;
    font-size: 23px;
    line-height: 24px;
    backdrop-filter: blur(17px);
    margin-bottom: 17px;
    background: linear-gradient(to left, #5959DF 100%, #0BEFD8 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.sub-heading {
    font-weight: 600;
    font-size: 60px;
    line-height: 79px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
p {
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 26px;
}
a.comman-btn {
    
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    position: relative;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    z-index: 2;
    overflow: hidden;
    padding: 3px;
}
a.comman-btn span{
    position: relative;
    z-index: 2;
    padding: 23px 48px 19px 48px;
    font-size: 1.1rem;
    align-items: center;
    background: #000;
    border-radius: 3px;
    display: block;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
}
/* a.comman-btn:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    border-image-source: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    background-size: 50% 100%;
} */

/*-----banner-----*/

@media(max-width: 1200px){
    p {
        font-size: 20px;
        line-height: 34px;
        margin-bottom: 20px !important;
    }
}