/*-----comman-----*/
.container {
    width: 100% !important;
    max-width: 1705px !important;
    margin: 0 auto;
    padding: 0 15px;
}
.heading {
    font-weight: 600;
    font-size: 23px;
    line-height: 24px;
    backdrop-filter: blur(17px);
    margin-bottom: 17px;
    background: linear-gradient(to left, #5959DF 100%, #0BEFD8 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.sub-heading {
    font-weight: 600;
    font-size: 60px;
    line-height: 79px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
p {
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 26px;
}
a.comman-btn {
    
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    position: relative;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    z-index: 2;
    overflow: hidden;
    padding: 3px;
}
a.comman-btn span{
    position: relative;
    z-index: 2;
    padding: 23px 48px 19px 48px;
    font-size: 1.1rem;
    align-items: center;
    background: #000;
    border-radius: 3px;
    display: block;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
}
a.comman-btn:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    border-image-source: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    background-size: 50% 100%;
}

/*-----banner-----*/
.banner {
    background-color: #000;
    position: relative;
} 
.banner ul {
    display: flex;
    align-items: center;
}
.banner-inner {
    padding: 305px 0 210px;
}  
.banner-inner p{
    max-width: 726px;
}
.copy-addres {
    display: flex;
    align-items: center;
}
.copy {
    display: inline-block;
}
.copy-addres {
    display: flex;
    align-items: center;
    margin-bottom: 47px;
    padding: 9.24px 10.7px 9.24px 28.26px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(#000, #000), linear-gradient(#F213FF, #3F2FF1 0%, #0BEFD8);
    border-radius: 18px;
}
button.clipboard {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.6;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.024) 0%, rgba(255, 255, 255, 0.06) 100%);
    backdrop-filter: blur(153px);
    padding: 23px 38px 19px;
    border-radius: 13px;
    margin-left: 112px;
}
.copy-addres:after {
    position: absolute;
    content: "";
    top: 50%;
    right: -10px;
    background: #09B7E0;
    width: 68px;
    height: 44px;
    opacity: 0.2;
    filter: blur(48px);
    border-radius: 12px;
    transform: translateY(-50%);
}
.copy-addres:before {
    position: absolute;
    content: "";
    top: 50%;
    left: -10px;
    background: #0101F9;
    width: 68px;
    height: 44px;
    opacity: 0.2;
    filter: blur(48px);
    border-radius: 12px;
    transform: translateY(-50%);
}
.banner ul li {
    margin-right: 22px;
}
.banner ul li:last-child{
    margin-right: 0px;
}
.banner-img {
    position: absolute;
    top: 53px;
    right: 0;
}


/*----------*/
section.metapets-games {
    background-color: #000;
    position: relative;
}
.metapets-games-icon ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 155px;
}
.metapets-games-icon li {
    margin: 0 33px;
}
.metapets-games-left {
    position: relative;
}
.metapats-bg {
    position: absolute;
    top: -80px;
    left: 0;
    z-index: 1;
}
.metapets-games-left img {
    position: relative;
    z-index: 8;
}
.image-round {
    position: absolute;
    top: -80px;
    right: 0;
}