section.staking-inner {
  padding: 120px 0 120px;
  position: relative;
}
.stakin-inner-heading-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 39px 20px 39px;
  width: 100%;
  margin: 0 auto;
  max-width: 360px;
  border: 2px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to left, #1b1920, #1b1920),
    linear-gradient(15deg, #f213ff, rgb(49 49 49), #0befd8);
  border-radius: 13px;
  backdrop-filter: blur(153px);
  margin-top: 10px;
}
.staking-icon {
  display: flex;
  align-items: center;
}
.staking-icon p {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.6;
  margin: 0 !important;
  padding-top: 6px;
}
.staking-icon img {
  margin-right: 5px;
}
.staking-icon {
  display: flex;
  align-items: center;
  margin-right: 26px;
}
.staking-icon.staking-icon1 {
  margin-right: 49px;
}
.stakin-inner-heading-box h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 0;
  padding-top: 6px;
  overflow: hidden;
  width: 70px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.stakin-inner-heading-btn button {
  border: 2px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to left, #1b1920, #1b1920),
    linear-gradient(15deg, #f213ff, rgb(49 49 49), #0befd8);
  border-radius: 13px;
  padding: 23px 44px 19px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255 255 255 / 60%);
  opacity: 0.6;
  margin-top: 10px;
}
.staking-inner-second {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.staking-inner-second-box h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}
.staking-inner-second-box {
  width: 420px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.036) 0%,
    rgba(255, 255, 255, 0.09) 100%
  );
  backdrop-filter: blur(42px);
  border-radius: 54px;
  text-align: center;
  padding: 42px 0;
}
.staking-inner-second-box p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 0 !important;
}
.staking-inner-second-box.staking-inner-second-box1 {
  margin: 0 50px;
}
.inner-staking-locked {
  margin-top: 100px;
}

.inner-staking-locked .nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0;
  padding: 0 20px 6px;
  background-color: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 60px;
}
.nav-pills .nav-link.active {
  color: #fff;
  background-color: transparent !important;
  position: relative;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    #0befd8,
    rgb(249 249 255 / 40%),
    #f213ff
  );
  border-image-slice: 1;
  width: auto;
}
.inner-staking-locked-box {
  background: rgba(14, 13, 24, 0.36);
  border: 2px solid rgba(255, 255, 255, 0.08);
  box-sizing: border-box;
  backdrop-filter: blur(53px);
  border-radius: 50px;
  padding: 50px;
}
table thead th {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.5;
  padding: 32px 0 !important;
  background-color: #080714 !important;
}
table thead th:first-child {
  padding-left: 49px !important;
}
.inner-staking-locked-box .table > :not(:first-child) {
  border-top: 0px !important;
}
.table > :not(caption) > * > * {
  border-bottom-width: 0 !important;
}
.inner-staking-locked-box .table-striped > tbody > tr:nth-of-type(odd) > * {
  background-color: #0c0b18 !important;
  color: #fff !important;
}

tbody tr th {
  padding: 20px 20px 20px 49px !important;
  text-align: left;
  vertical-align: middle;
}
tbody tr td {
  padding: 20px 0 !important;
  text-align: left;
  vertical-align: middle;
}
.apy-box {
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to left, #252525, #252525),
    linear-gradient(114deg, #0befd8, #005048);
  border-radius: 13px;
  padding: 21px 16px;
  display: flex;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  align-items: center;
  width: 243px;
}
span.apy-box-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  width: 98px;
  display: inline-block;
}
span.lock {
  background: linear-gradient(
    180deg,
    rgba(11, 239, 216, 0.3) 0%,
    rgba(11, 239, 216, 0.3) 100%
  );
  backdrop-filter: blur(153px);
  border-radius: 13px;
  padding: 21px 42px;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;

  color: #ffffff;

  opacity: 0.7;
}
span.apy-box-plush {
  margin: 0 13px;
}
.range-ammount {
  background: linear-gradient(
    180deg,
    rgba(11, 239, 216, 0.26) 0%,
    rgba(9, 183, 224, 0.26) 100%
  );
  backdrop-filter: blur(153px);
  border-radius: 13px;
  padding: 21px 37px;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.stake {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.024) 0%,
    rgba(255, 255, 255, 0.06) 100%
  );
  backdrop-filter: blur(153px);
  border-radius: 13px;
  border: 2px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to left, #232323, #232323),
    linear-gradient(114deg, #0befd833, #f9f9ff09, #f213ff33);
  padding: 23px 60px 19px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.6;
  display: inline-block;
}
.inner-staking-locked-box .dropdown span.btn {
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to left, #252525, #252525),
    linear-gradient(114deg, #0befd8, #005048);
  width: 145px;
  text-align: left;
  padding: 21px 17px;
  border-radius: 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  position: relative;
}

.inner-staking-locked-box .dropdown span.btn.show {
  border-radius: 13px 13px 0 0;
  border-bottom: 0;
}
.inner-staking-locked-box .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  text-align: -webkit-auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 23px;
}
.inner-staking-locked-box .dropdown span.btn.show::after {
  transform: rotate(180deg);
}
.btn-check:active + .btn-secondary:focus,
.btn-check:checked + .btn-secondary:focus,
.btn-secondary.active:focus,
.btn-secondary:active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none !important;
}
.inner-staking-locked-box .dropdown-menu.show {
  width: 145px !important;
  padding: 0;
}
.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
  box-shadow: none !important;
}
.inner-staking-locked-box .dropdown-menu.show {
  width: 100%;
  padding: 0;
  left: 0 !important;
  right: auto !important;
  max-width: 100px !important;
  overflow: hidden;
  border-radius: 0 0 13px 13px;
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to left, #252525, #252525),
    linear-gradient(114deg, #0befd8, #005048);
  border-top: 0 !important;
  transform: translate(0px, 60px) !important;
}
.inner-staking-locked-box .dropdown-menu {
  min-width: 145px;
}
.inner-staking-locked-box .dropdown-item {
  color: #fff;
  padding: 14px 17px;
  border-top: 1px solid transparent;
  border-image: linear-gradient(0.25turn, #07b6a438, #02645a5c);
  border-image-slice: 1;
}
tr.dark-tr td,
tr.dark-tr th {
  background-color: #0c0b18 !important;
}
.staking-detail {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding: 25px 0 43px;
}
.staking-detail-bar-outer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.036) 0%,
    rgba(255, 255, 255, 0.09) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.13);
  box-sizing: border-box;
  backdrop-filter: blur(42px);
  border-radius: 54px;
  padding: 46px 60px;
}
.staking-bar-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 11px !important;
}
.staking-bar-text h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #0befd8;
  margin-bottom: 0;
}
.staking-bar p {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.5;
  text-align: right;
}
.staking-bar-number h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #0befd8;
  margin-bottom: 13px;
}
.staking-bar-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.progress {
  width: 375px;
  height: 9px !important;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.036) 1.4%,
    rgba(255, 255, 255, 0.09) 101%
  );
  backdrop-filter: blur(42px);
  border-radius: 54px !important;
}
.progress-bar {
  background: linear-gradient(90deg, #0befd8 1.4%, #0befd8 101%);
  border-radius: 54px;
  width: 15%;
}
.stack-mpc-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.stack-mpcheading-right {
  display: flex;
  align-items: center;
}
.stack-mpcheading-right h3 {
  display: flex;
  align-items: center;
}
.stack-mpc {
  width: 100%;
  max-width: 719px;
  margin: 0 auto;
}
.stack-mpc-heading h4 {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
}
.stack-mpcheading-right p {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  opacity: 0.78;
  margin: 0 70px 0 0 !important;
}
.stack-mpcheading-right h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 43px;
  color: #0befd8;
  margin: 0;
}
.stack-mpcheading-right h3 img {
  margin-left: 9px;
}
.mpc-coin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mpc-coin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.012) 0%,
    rgba(255, 255, 255, 0.03) 100%
  );
  border: 2px solid #dc1035;
  box-sizing: border-box;
  backdrop-filter: blur(153px);
  border-radius: 18px;
  padding: 9px 8px 9px 30px;
  margin-top: 11px;
}
.mpc-coin-right {
  display: flex;
  align-items: center;
}
.mpc-coin-right p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  margin: 0 28px 0 0 !important;
  opacity: 1;
}
.mpc-coin-right button {
  background: linear-gradient(
    180deg,
    rgba(11, 239, 216, 0.3) 0%,
    rgba(11, 239, 216, 0.3) 100%
  );
  backdrop-filter: blur(153px);
  border-radius: 13px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 23px 51px 19px;
  border: 0;
}
.stack-mpc h6 {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #dc1035;
  opacity: 0.78;
  margin-top: 19px;
  margin-bottom: 30px;
}
.staking-inner-summary {
  background: rgba(14, 13, 23, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  backdrop-filter: blur(42px);
  border-radius: 54px;
  padding: 46px 66px 46px 75px;
}
.staking-inner-summary h4 {
  font-weight: 600;
  font-size: 26px;
  line-height: 48px;
  color: #ffffff;
}
.summry-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid rgba(255, 255, 255, 0.06);
  box-sizing: border-box;
  backdrop-filter: blur(153px);
  padding: 10px 0 12px;
}
.summry-row-left p {
  font-weight: 500;
  font-size: 20px;
  line-height: 48px;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 0 !important;
}
.summry-row-right p {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  opacity: 1;
  margin-bottom: 0 !important;
  display: flex;
  align-items: center;
}
.summry-row-right {
  display: flex;
  align-items: center;
}
.summry-row-right p img {
  margin-right: 8px;
}
.summry-row-right p span {
  opacity: 0.6;
  display: inline-block;
  margin-top: 4px;
}
p.border-right {
  border-left: 1px solid rgb(255 255 255 / 10%);
  margin-left: 25px;
  padding-left: 25px;
}
.summry-row-left h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  color: #ffffff;
}
.summry-row-right h5 {
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  color: #0befd8;
}
.staking-inner-summary button {
  padding: 22px 96px 18px;
  margin-top: 30px;
}
.inner-staking-rpund img {
  position: absolute;
  right: -41px;
  z-index: -1;
  bottom: -104px;
  filter: blur(44px);
}
.not-connect h5 {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 100px;
}
.not-connect img {
  margin: 0 auto;
}
.not-connect {
  text-align: center;
}
tr.not-connect-outer td {
  background-color: transparent;
}
tr.not-connect-outer td {
  background-color: transparent;
  padding: 40px 0 100px !important;
  display: none;
}
.table-outer2 table tr td:first-child {
  padding: 20px 20px 20px 49px !important;
}
.table-outer2 thead th {
  width: 193px;
}
tr.light-tr td {
  background-color: #121020 !important;
}
tr.light-tr th {
  background-color: #121020 !important;
}
.table-outer tbody th {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}
.mpc-coin h5 {
  font-weight: 600;
  font-size: 27px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.8;
  margin-bottom: 0;
}
thead tr th:last-child {
  border-radius: 0 10px 0 0;
}
thead tr th:first-child {
  border-radius: 10px 0px 0 0;
}
tbody tr:last-child td:last-child {
  border-radius: 0 0 10px 0px;
}
tbody tr:last-child td:first-child {
  border-radius: 0 0 0px 10px;
}
.staking-popup1 .modal-dialog,
.staking-popup1 .modal-dialog-centered {
  border-radius: 54px;
  overflow: hidden;
  max-width: 600px;
}
.staking-popup1 .modal-body {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.036) 0%,
    rgba(255, 255, 255, 0.09) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.13);
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(42px);
  backdrop-filter: blur(42px);
  border-radius: 54px;
  padding: 60px 30px !important;
  text-align: center;
}
.staking-popup1 img {
  margin: 0 auto;
}
.staking-popup1 h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  margin: 20px 0 2px;
}
.staking-popup1 p {
  font-weight: 400;
  font-size: 22px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 0 !important;
}
.popup-close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.staking-popup1 .modal-content {
  border-radius: 54px !important;
}
.staking-popup2 .modal-dialog {
  max-width: auto;
}

.userBalanceFIrstP {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90px;
}

.metaPetsBalanceSecondP {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 60px;
}
.firstRowHide {
  display: none;
}
