.about {
    position: relative;
}
.about-inner-box {
    width: 100%;
    max-width: 1104px;
}
.about-inner {
    position: relative;
}
.about-main-img {
    position: absolute;
    top: 0;
    right: 0;
}
.about-half-round {
    position: absolute;
    top: 50%;
    right: 0;
    left: auto;
    transform: translateY(-50%);
    z-index: -1;
}
.about-full-round-img {
    position: absolute;
    z-index: -1;
    bottom: -400px;
    left:-400px;
}
.about-line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
    z-index: -1;
}
.about-inner-box ul li {
    color: #848489;
    font-size: 18px;
    line-height: 38px;
    font-weight: 700;
}
.about-inner-box h5 {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    opacity: 0.7;
    margin-bottom: 20px;
}
.about-inner-box video {
    border-radius: 40px;
    margin-bottom: 50px;
    width: 100%;
}

@media(max-width: 1500px){
    .about-main-img img {
        width: 300px;
    }
}
@media(max-width: 1200px){
    .about-main-img img {
        width: 250px;
    }
}
@media(max-width: 991px){
    .about-main-img img {
        width: 200px;
    }
    .about-half-round img {
        width: 100px;
    }
}

@media(max-width: 767px){
    .about-main-img img {
        width: 150px;
    }
    .about-inner-box h5 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .about-inner-box ul li {
        font-size: 16px;
        line-height: 36px;
    }
    .about-inner-box video {
        border-radius: 40px;
        margin-bottom: 30px;
        width: 100%;
    }
}