.about {
    position: relative;
}
.about-inner-box {
    width: 100%;
    max-width: 1104px;
}
.about-inner {
    position: relative;
}
.about-main-img {
    position: absolute;
    top: 0;
    right: 0;
}
.about-half-round {
    position: absolute;
    top: 50%;
    right: 0;
    left: auto;
    transform: translateY(-50%);
}
.about-full-round-img {
    position: absolute;
    z-index: -1;
    bottom: -400px;
    left:-400px;
}
.about-line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
    z-index: -1;
}

@media(max-width: 1500px){
    .about-main-img img {
        width: 300px;
    }
}
@media(max-width: 1200px){
    .about-main-img img {
        width: 250px;
    }
}
@media(max-width: 991px){
    .about-main-img img {
        width: 200px;
    }
    .about-half-round img {
        width: 100px;
    }
}

@media(max-width: 767px){
    .about-main-img img {
        width: 150px;
    }
}