.whitepaper {
  position: relative;
}
.whitepaper-heading {
  width: 100%;
  max-width: 620px;
  text-align: center;
  margin: 0 auto;
}
.whitepaper.content-box img {
  border-radius: 55px;
  /* margin: 48px 25px; */
}
.whitepaper.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  position: relative;
}
.whitepaper.content-box {
  margin: 48px 22px;
  text-align: center;
}
.team-round-circul {
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.whitepaper-circel-img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.whitepaper.content-box button {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 0;
  margin-top: 23px;
  width: 100%;
  justify-content: center;
}
.whitepaper.content-box button img {
  border-radius: 0;
  margin-right: 13px;
}
.whitepaper.content-box button span {
  margin-top: 5px;
}
/* Start Remove Toolbar css */

.rpv-default-layout-toolbar {
  display: none;
}
.rpv-default-layout-sidebar-headers {
  display: none;
}
.rpv-default-layout-main {
  border-radius: 55px;
}
.rpv-default-layout-container {
  border: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}
.content-box-pdf {
  max-height: 845px !important;
  max-width: 645px;
}
.rpv-default-layout-container {
  border: 0;
}
.white-pdf-icon{
  display: none;
}
/* End Remove Toolbar css */

@media (max-width: 991px) {
  .whitepaper.content-box {
    width: 100%;
  }
  .content-box-pdf {
    max-height: 600px !important;
  }
}
@media (max-width: 767px) {
  .content-box-pdf {
    max-height: 450px !important;
  }
  .whitepaper.content-box {
    margin: 30px 22px;
    text-align: center;
  }
}

.alink {
  color: #ffffff;
}
